# Ignore the virtual environment
venv/
env/

# Ignore the database (Developers should create their own local one)
db.sqlite3

# Ignore compiled python files
__pycache__/
*.pyc

# CRITICAL: Ignore environment variables (Secrets)


# Ignore operating system files
.DS_Store